<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WKRunsIndependentlyOfCompanionApp</key>
	<true/>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This App uses HealthKit to get Heart Rate from patient for Clinical Research Trial. Your Heart Rate will be stored in your secure, personal, Clinical Trial record and will be used to further medical innovation.&quot;</string>
	<key>NSHealthShareUsageDescription</key>
	<string>This App shares Heart Rate with HealthKit</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>Com.AlexHerrin.MVPA-Workout.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
</dict>
</plist>
